.newComment {
  display: grid;
  grid-row: 1fr 1fr;
  grid-column: 1fr;
  font-size: 18px;
  gap: 5px;
  align-self: center;
  padding-bottom: 40px;
}

input {
  border: none;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  font-size: 20px;
}

.newCommentUserDiv,
.newCommentTextDiv {
  padding-bottom: 30px;
  display: grid;
}

.newCommentTextDiv > label,
.newCommentUserDiv > label {
  place-self: start;
  margin-bottom: 10px;
  font-style: oblique;
  font-size: 110%;
}

.sendCommentBtn {
  color: black;
  background-color: #00bf63;
  border: none;
  height: 40px;
  letter-spacing: 15px;
  font-style: oblique;
  font-size: 80%;
  width: 100%;
  justify-self: center;
}

.sendCommentBtn:hover {
  background-color: #c8ffe5;
}

.commentsBox {
  font-size: 20px;
}

.allComments {
  display: grid;
  gap: 30px;
}

.eachComment {
  display: grid;
  border: 2px solid #00bf63;
  border-radius: 10px;
}

.commentAuthor {
  justify-self: start;
  margin-left: 30px;
  margin-bottom: 0px;
}

.commentText {
  justify-self: start;
  margin-left: 50px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #00bf63;
}

.commentTime {
  justify-self: end;
  margin-right: 30px;
  font-size: 15px;
}

@media (max-width: 700px) {
  .commentText {
    font-size: 18px;
  }
}
