:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-image: url("./imgs/bg.png"), url("./imgs/bg2.png");
  background-size: 33vw;
  background-repeat: no-repeat;
  background-position: left 20px, right 20px;
}

a {
  color: inherit;
}

a:hover {
  color: rgb(47, 47, 255);
}


a:has(.eachPost) {
  font-weight: 500;
  color: #00bf63;
  text-decoration: none;
}

body {
  margin: 0;
}

h1 {
  color: #00e376;
  font-size: 2em;
  line-height: 1.1;
}

h2:not(.homePostTitle) {
  color: white;
  margin-top: 50px;
  font-size: 1em;
  font-style: italic;
}

.allPosts {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 720px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.eachPost {
  min-height: 130px;
  background-color: rgba(59, 59, 59, 0.211);
  border-radius: 10px;
  transition: 0.2s;
  padding: 10px;
}

.eachPost:hover {
  background-color: #434040;
}

.menuBar {
  width: 100%;
}

@media (max-width: 700px) {
  .barSpacer{
    display: none!important;
  }
  .allPosts {
    width: auto;
    padding: 15px;
  }
}
