.singlePostContent {
  display: grid;
  max-width: 720px;
}

.singlePostTitle {
  padding-top: 30px;
}

.postText {
  white-space: pre-line;
  text-align: start;
  place-self: center;
  font-size: 22px;
  border-radius: 5px;
}

img {
  width: 100%;
}
